.page{
	size:A4;
}

.title{
	font-family:Helvetica;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	background:#666666;

}

.subTitle{
    font-family:Helvetica;
    font-size:10px;
    font-weight:bold;
    text-decoration:none;
    color:#FF0000;
}
.userInfo{
	font-family:Helvetica;
	font-size:6px;
	font-weight:normal;
	text-decoration:none;
	color:#000000;
	background:#666666;
}

.logo{
	background:url("CSlogo.png");
	text-align:left;
	width:273px;
	height:92px;
}

.table{
	width:100%;
	border-width:1px;
	border-color:#000CCC;
	padding-left:72px;
	padding-top:72px;

}
.head{
	background:#999999;
	font-family:Helvetica;
	font-size:7px;
	font-weight:bold;
	color:#000000;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	
}
.headDecimal{
	background:#999999;
	font-family:Helvetica;
	font-size:7px;
	font-weight:bold;
	color:#000000;
	vertical-align:middle;
	text-align:right;
	text-decoration:none;
}
.single{
	background:#FFFFFF;
	font-family:Helvetica;
	font-size:7px;
	font-weight:normal;
	vertical-align:middle;
	color:#000000;
	text-align:left;
	text-decoration:none;
}
.double{
	background:#E1E1E1;
	font-family:Helvetica;
	font-size:7px;
	font-weight:normal;
	vertical-align:middle;
	color:#000000;
	text-align:left;
	text-decoration:none;

}
.calculation{
	background:#999999;
	font-family:Helvetica;
	font-size:7px;
	font-weight:bold;
	color:#FFFFFF;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	
}

.end{
	font-family:Helvetica;
	font-size:8px;
	font-weight:normal;
	text-decoration:none;
	color:#000000;
	background:#666666;
}