<?xml version="1.0" encoding="UTF-8"?>
<modules AutoGen-Parameter-Version="1.0">
    <module descr="Security Manager" name="SECU" type="SECU">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Standing Data" name="STAN" type="STD">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Static Data" name="STAT" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Bank Maintenance" name="BANK" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="System Maintenance" name="SYST" type="SYSTEM">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Import Collection" name="IMCO" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Export Collection" name="EXCO" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Import Letter of Credit" name="IPLC" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Export Letter of Credit" name="EPLC" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Standby Letter Of Credit" name="SBLC" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Inward Guarantee" name="IWGT" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Outward Guarantee" name="GTEE" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Reimbursements" name="REIM" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Shipping Guarantee" name="SHGT" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Common Function" name="COMM" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Central Diary" name="CDRY" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="eLOAN Transaction" name="IAAC" type="eLOAN">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Limit Transaction" name="CZQO" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="SCF Onboarding" name="FADA" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="SCF Transaction" name="FAEF" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Invoice Data" name="INVC" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Open Account Module" name="TSUM" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Syndications" name="SYND" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Clean Payment" name="PYMT" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Central Finance" name="CFNC" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Central Charge(Not Complete)" name="CCHG" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Cutoff Times" name="CUOF" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Callback Limit" name="CLBK" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Forfaiting" name="FFIT" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Limit Management" name="LMTS" type="STD">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Contract SCF(TBD)" name="CNTR" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Bank Payment Obligation Module" name="BPOM" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Purchase Order Data" name="POMM" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Common Data" name="DATA" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Commodity Information" name="CMDT" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Third Party" name="TRDP" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="ABL Financing" name="ABLF" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Compliance Check" name="COMP" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Risk Participation" name="RPFM" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Import Letters of Credit" name="TLOC" type="TRANS">
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Treasury Common" name="TRCO" type="TRANS">
        <bank_county>CSBANK_AE</bank_county>
        <bank_county>CSBANK_GB</bank_county>
        <bank_county>CSBANK_HK</bank_county>
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Treasury Nostro Bank" name="TRNB" type="TRANS">
        <bank_county>CSBANK_AE</bank_county>
        <bank_county>CSBANK_GB</bank_county>
        <bank_county>CSBANK_HK</bank_county>
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Counterparty Module" name="TRCP" type="TRANS">
        <bank_county>CSBANK_AE</bank_county>
        <bank_county>CSBANK_GB</bank_county>
        <bank_county>CSBANK_HK</bank_county>
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Team Trader" name="TRTD" type="TRANS">
        <bank_county>CSBANK_AE</bank_county>
        <bank_county>CSBANK_GB</bank_county>
        <bank_county>CSBANK_HK</bank_county>
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Money Market" name="TRMM" type="TRANS">
        <bank_county>CSBANK_AE</bank_county>
        <bank_county>CSBANK_GB</bank_county>
        <bank_county>CSBANK_HK</bank_county>
        <bank_county>CSBANK_US</bank_county>
    </module>
    <module descr="Template Maintenance" name="TMPL" type="TRANS">
        <bank_county>CSBANK_AE</bank_county>
        <bank_county>CSBANK_GB</bank_county>
        <bank_county>CSBANK_HK</bank_county>
        <bank_county>CSBANK_US</bank_county>
    </module>
</modules>