<?xml version="1.0" encoding="UTF-8"?>
<module name="cs.thirdparty" xmlns="urn:jboss:module:1.3">
	<resources>
		<!--report - begin-->
        <resource-root path="cecore-1.0.0.jar"/>
        <resource-root path="celib-1.0.0.jar"/>
        <resource-root path="cereports-1.0.0.jar"/>
        <resource-root path="cesession-1.0.0.jar"/>
        <resource-root path="jrcerom-1.0.0.jar"/>
        <resource-root path="rasapp-1.0.0.jar"/>
        <resource-root path="rascore-1.0.0.jar"/>
        <resource-root path="serialization-1.0.0.jar"/>
        <resource-root path="webreporting-1.0.0.jar"/>
		<!--report - end-->
		<resource-root path="aopalliance-repackaged-2.6.1.jar"/>
		<resource-root path="apfloat-1.8.3.jar"/>
		<resource-root path="axis-1.4.jar"/>
		<resource-root path="bcpkix-jdk18on-1.78.1.jar"/>
		<resource-root path="bcprov-jdk18on-1.78.1.jar"/>
		<resource-root path="bsf-1.0.0.jar"/>
		<resource-root path="c3p0-0.9.5.4.jar"/>
		<resource-root path="commons-beanutils-1.9.4.jar"/>
		<resource-root path="commons-codec-1.14.jar"/>
		<resource-root path="commons-collections-3.2.2.jar"/>
		<resource-root path="commons-collections4-4.4.jar"/>
		<resource-root path="commons-configuration-1.10.jar"/>
		<resource-root path="commons-dbcp-1.4.jar"/>
		<resource-root path="commons-dbutils-1.7.jar"/>
		<resource-root path="commons-digester-1.8.jar"/>
		<resource-root path="commons-discovery-0.5.jar"/>
		<resource-root path="commons-email-1.5.jar"/>
		<resource-root path="commons-fileupload-1.5.jar"/>
		<resource-root path="commons-httpclient-3.1.jar"/>
		<resource-root path="commons-io-2.17.0.jar"/>
		<resource-root path="commons-lang-2.6.jar"/>
		<resource-root path="commons-lang3-3.5.jar"/>
		<resource-root path="commons-logging-api-1.1.jar"/>
		<resource-root path="commons-net-3.9.0.jar"/>
		<resource-root path="commons-pool-1.6.jar"/>
		<resource-root path="commons-pool2-2.11.1.jar"/>
		<resource-root path="concurrent-1.3.2.jar"/>
		<resource-root path="config-1.3.4.jar"/><!--EEServices-->
		<resource-root path="cssparser-0.9.30.jar"/>
		<resource-root path="druid-1.1.23.jar"/>
		<resource-root path="ehcache-core-2.6.8.jar"/>
		<resource-root path="esapi-2.5.3.0.jar"/><!--2.2.3.1-->
		<resource-root path="eureka-client-1.10.17.jar"/>
		<resource-root path="fastjson-1.2.83.jar"/><!--1.2.66-->
		<resource-root path="fluent-hc-4.3.6.jar"/>
		<resource-root path="freemarker-2.3.32.jar"/>
		<resource-root path="gson-2.10.1.jar"/>
		<resource-root path="guava-33.3.1-jre.jar"/>
		<resource-root path="hibernate-core-5.6.14.Final.jar"/>
		<!--resource-root path="hk2-api-2.6.1.jar"/-->
		<!--resource-root path="hk2-locator-2.6.1.jar"/-->
		<!--resource-root path="hk2-utils-2.6.1.jar"/-->
		<resource-root path="httpclient-4.5.14.jar"/>
		<resource-root path="httpcore-4.4.4.jar"/>
		<resource-root path="httpmime-4.3.6.jar"/>
		<resource-root path="jackson-annotations-2.17.0.jar"/>
		<resource-root path="jackson-core-2.17.0.jar"/>
		<resource-root path="jackson-databind-2.17.0.jar"/><!--2.12.6.1-->
		<resource-root path="java-uuid-generator-3.1.3.jar"/>
		<resource-root path="javassist-3.25.0-GA.jar"/>
		<resource-root path="javax.annotation-api-1.2.jar"/>
		<resource-root path="javax.wsdl-1.5.1.jar"/>
		<!-- 
		<resource-root path="jaxb-api-2.3.1.jar"/>
		 -->
		<resource-root path="jedis-3.8.0.jar"/>

		<!--resource-root path="jjwt-0.9.1.jar"/-->
		<resource-root path="joda-time-2.6.jar"/>
		<resource-root path="jsch-0.1.55.jar"/>
		<resource-root path="json-20231013.jar"/>
		<resource-root path="json-lib-2.4-jdk15.jar"/>
		<resource-root path="jxl-2.6.12.jar"/>
		<resource-root path="log4j-api-2.20.0.jar"/>
		<resource-root path="log4j-core-2.20.0.jar"/>
		<resource-root path="log4j-slf4j-impl-2.20.0.jar"/>
		<resource-root path="mybatis-3.5.13.jar"/>
		<resource-root path="nacos-client-2.4.3.jar"/>
		<resource-root path="netflix-commons-util-0.1.1.jar"/>
		<resource-root path="netflix-statistics-0.1.1.jar"/>
		<resource-root path="ojdbc8-23.2.0.0.jar"/>
		<resource-root path="opencsv-1.5.jar"/>
		<resource-root path="openpdf-1.3.27.jar"/>
		<resource-root path="picketbox-4.0.19.Final.jar"/>
		<resource-root path="picketlink-core-log4j2-2.1.8.Final.jar"/>
		<resource-root path="poi-ooxml-lite-5.3.0.jar"/>
		<resource-root path="poi-5.3.0.jar"/>
		<resource-root path="poi-ooxml-5.3.0.jar"/>
		<resource-root path="quartz-2.3.2.jar"/>
		<resource-root path="reactive-streams-1.0.0.jar"/>
		<resource-root path="rfax-1.0.0.jar"/>
		<resource-root path="ribbon-core-2.7.18.jar"/>
		<resource-root path="ribbon-loadbalancer-2.7.18.jar"/>
		<resource-root path="sac-1.3.jar"/>
		<resource-root path="serialkiller-0.4.jar"/>
		<resource-root path="servo-core-0.12.21.jar"/>
		<resource-root path="slf4j-api-1.7.26.jar"/><!--1.7.30-->
		<resource-root path="slf4j-ext-1.7.26.jar"/><!--1.7.30-->
		<resource-root path="snakeyaml-2.0.jar"/><!--EEServices-->
		<resource-root path="soap-2.3.1.jar"/>
		<resource-root path="spark-core-2.9.4.jar"/><!--EEServices-->
		<resource-root path="spark-swagger-2.0.6.jar"/><!--EEServices-->
		<resource-root path="spring-aop-5.3.39.jar"/>
		<resource-root path="spring-beans-5.3.39.jar"/>
		<resource-root path="spring-context-5.3.39.jar"/>
		<resource-root path="spring-core-5.3.39.jar"/>
		<resource-root path="spring-data-commons-2.7.6.jar"/>
		<resource-root path="spring-data-keyvalue-2.7.6.jar"/>
		<resource-root path="spring-data-redis-2.7.6.jar"/>
		<resource-root path="spring-expression-5.3.39.jar"/>
		<resource-root path="spring-jdbc-5.3.39.jar"/>
		<resource-root path="spring-jms-5.3.39.jar"/>
		<resource-root path="spring-orm-5.3.39.jar"/>
		<resource-root path="spring-session-core-2.7.0.jar"/>
		<resource-root path="spring-session-data-redis-2.7.0.jar"/>
		<resource-root path="spring-tx-5.3.39.jar"/>
		<resource-root path="spring-web-5.3.39.jar"/>
		<resource-root path="spring-webmvc-5.3.39.jar"/>
		<resource-root path="struts-1.2.9.jar"/>
		<resource-root path="swagger-annotations-2.1.11.jar"/>
		<resource-root path="UserAgentUtils-1.20.jar"/>
		<resource-root path="zip4j-2.11.3.jar"/>
		<resource-root path="zql-parser-1.0.0.jar"/>
		<!-- EE Jar - begin-->
		<resource-root path="CRReport.jar"/>
		<resource-root path="cs-common-5.6.0.jar"/>
		<resource-root path="cs-json-5.6.0.jar"/>
		<resource-root path="CSBase.jar"/>
		<resource-root path="CSBaseLine.jar"/>
		<resource-root path="CSBpmnConverter.jar"/>
		<resource-root path="CSBpmnModel.jar"/>
		<resource-root path="CSCharge.jar"/>
		<resource-root path="CSEEServiceImpl.jar"/>
		<resource-root path="CSFlowEngine.jar"/>
		<resource-root path="CSJSQLParse.jar"/>
		<resource-root path="CSProcessValidation.jar"/>
		<resource-root path="CSReport.jar"/>
		<resource-root path="CSRhinoJS.jar"/>
		<resource-root path="CSSCF.jar"/>
		<resource-root path="CSSOAFramework.jar"/>
		<resource-root path="CSSOAProImpl4SCF.jar"/>
		<resource-root path="CSSOAService.jar"/>
		<resource-root path="ediImpl-1.0.0.jar"/>
		<resource-root path="esp-core-5.6.0.jar"/>
		<resource-root path="esp-corp-5.6.0.jar"/>
		<resource-root path="esp-refdata-5.6.0.jar"/>
		<resource-root path="esp-swift-5.6.0.jar"/>
		<resource-root path="EximBatchService.jar"/>
		<resource-root path="EximBillsARF.jar"/>
		<resource-root path="EximBillsBusBase.jar"/>
		<resource-root path="EximBillsECL.jar"/>
		<resource-root path="EximBillsELoan.jar"/>
		<resource-root path="EximBillsFactoring.jar"/>
		<resource-root path="EximBillsFactoringObjects.jar"/>
		<resource-root path="EximBillsFinance.jar"/>
		<resource-root path="EximBillsPayment.jar"/>
		<resource-root path="EximBillsSCF.jar"/>
		<resource-root path="EximBillWeb.jar"/>
		<resource-root path="EximServices.jar"/>
		<resource-root path="ISMTool-1.0.0.jar"/>
		<resource-root path="javacsv-2.0.jar"/>
		<resource-root path="SCFBase.jar"/>
		<resource-root path="schema-1.0.0.jar"/>
		<resource-root path="tidy-1.0.0.jar"/>
		<resource-root path="webservicelocal-1.0.0.jar"/>
		<!-- EE Jar - end-->
		<resource-root path="com.ibm.mq.allclient-9.4.1.0.jar"/>
		<resource-root path="swagger-core-2.1.11.jar"/>
		<resource-root path="xmlbeans-5.2.1.jar"/>
		<resource-root path="XmlSchema-1.4.7.jar"/>
		<resource-root path="ezmorph-1.0.6.jar"/>
		<resource-root path="jakarta.xml.bind-api-3.0.1.jar"/>
		<resource-root path="stax2-api-4.2.1.jar"/>
		<resource-root path="woodstox-core-6.5.1.jar"/>
		<resource-root path="xmlsec-3.0.4.jar"/>
		<resource-root path="xercesImpl-2.12.2.jar"/>
		<resource-root path="Counterparty_selfenroll.jar"/>
		<!--resource-root path="jersey-client-2.34.jar"/>
		<resource-root path="jersey-common-2.34.jar"/>
		<resource-root path="jersey-container-servlet-core-2.34.jar"/>
		<resource-root path="jersey-hk2-2.34.jar"/>
		<resource-root path="jersey-server-2.34.jar"/>
		<resource-root path="jersey-media-jaxb-2.34.jar"/-->
		
		<resource-root path="jjwt-api-0.11.5.jar"/>
		<resource-root path="jjwt-impl-0.11.5.jar"/>
		<resource-root path="jjwt-jackson-0.11.5.jar"/>									 
		<resource-root path="Csapi.jar"/>									 
	</resources>

    <dependencies>
        <module name="javaee.api"/>
        <module name="javax.api"/>
        <module name="javax.jms.api" export="true"/>
        <module name="org.jboss.resteasy.resteasy-jaxrs"/>
        <module name="org.jboss.as.jaxrs"/>
        <module name="javax.activation.api" export="true"/>
        <module name="javax.xml.stream.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="com.sun.xml.bind" services="import"/>
        <module name="org.apache.xerces" services="import"/>
		<module name="javax.api"/>
		<module name="com.fasterxml.jackson.core.jackson-databind"/>					
    </dependencies>
</module>